<div class="container">
    <div class="form-sign">
        <div class="text-center mb-4">
            <h1 class="h3 font-weight-normal">Sign in</h1>
        </div>

            <%= form_with(scope: :session, url: login_path, local: true) do |f|%>
                <div class="form-lagel-group">
                    <%= f.email_field :email, class:"form-control mb-3", :placeholer=> "メールアドレス"%>
                </div>

                <div class="form-lagel-group">
                    <%= f.password_field :password, class:"form-control mb-3"%>
                </div>
                
                
                <%= f.submit "ログイン", class: "mt-2 btn btn-primary btn-block"%>
            <% end %>
    </div>
</div>