<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>こんにちは<%= @user.email %>さん！</p>
    <p>以下のリンクからパスワードの再設定ができます。</p>

    
    <p>このメールに心当たりがない場合は無視してください。</p>
    <p>上記リンクよりパスワード変更を行うまで、パスワードの再設定はなされません。</p>
  </body>
</html>