<div class="log-form-top">
  <div class="bg-mask">



    <div class="container">
      <div class="text-center">
        <h1 class="text-white pb-3">Logを編集</h1>
      </div>
      <%= render "form", ballpark_log: @ballpark_log %>
    </div>

  </div>
</div>