<% if current_user %>
  <%= link_to("NEW", new_ballpark_log_path, class:"mb-3 mt-3 btn btn-primary")%>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
    </tr>
  </thead>

  <tbody>
    <% @ballpark_logs.each do |ballpark_log| %>
      <tr>
        <td><%= link_to(ballpark_log.user.name,user_path(ballpark_log.user_id), class:"noline") %></td>
        <td><%= link_to(ballpark_log.title, ballpark_log, class:"noline") %></td>
      </tr>
    <% end %>
  </tbody>
</table>