<div class="log-form-bg">
  <div class="log-form-wrapper d-flex justify-content-center align-items-center">
    <div class="log-form-content">
      <div class="text-center log-form-title">
        <h1 class="text-primary bolder">Logを登録</h1>
      </div>
      <%= render "form", ballpark_log: @ballpark_log %>
    </div>
  </div>
</div>