<div class="log-form-top">
  <div class="bg-mask d-flex justify-content-center align-items-center">
    <div>
      <div class="text-center mb-2">
        <h1 class="text-white">Logを登録</h1>
      </div>
      <%= render "form", ballpark_log: @ballpark_log %>
    </div>
  </div>
</div>