<div class="log-form-top">
  <div class="bg-mask">
    <% if @ballpark_log.errors.any? %>
        <ul id="error_explanation" class="alert alert-warning border border-0">
            <% @ballpark_log.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
      <% end %>
    <div class="container">
      <div class="text-center">
        <h1 class="text-white">Logを投稿</h1>
      </div>
      <%= render "form", ballpark_log: @ballpark_log %>
    </div>
  </div>
</div>
