
<h1><%= @ballpark_log.title %></h1>
<p><%= @ballpark_log.description %></p>

<%= link_to("Edit", edit_ballpark_log_path(@ballpark_log), class:"btn btn-info") %> 
<%= link_to("Back", "/", class:"btn btn-secondary") %>
