
  <strong>Title:</strong>
  <%= @ballpark_log.title %>

<p>
  <strong>Description:</strong>
  <%= @ballpark_log.description %>
</p>

<%= link_to 'Edit', edit_ballpark_log_path(@ballpark_log) %> |
<%= link_to 'Back', ballpark_logs_path %>
