/*--全体--*/
.header {
    background-color: rgba(34, 49, 52, 0.7);
}

.logo {
   color: white;
}
.logo:hover {
   color: white;
   text-decoration: none;
}

.noline:hover {
   text-decoration: none;
}

footer {
    background-color: rgb(34, 49, 52);
    height: 100px;
}

.web-copyright {
    color: azure;
}

.notice {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(98, 98, 221);
   height: 45px;
   width: auto;
}

.alert {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: lightcoral;
   height: 45px;
   width: auto;
   border-radius: 5px;
}

.container {
   padding-top: 56px;
}

ul {
   list-style: none;
}

.black-link {
   color: black;
}

.black-link:hover {
   color: black;
   text-decoration: none;
}

.index-body {
   background-color: white;
   width: 100%;
}


/*----ログインページ----*/
.form-sign {
   height: 650px;
   width: 100%;
   max-width: 420px;
   padding: 15px;
   margin: auto;
}


/*----index----*/
.top-background {
      background-image: image-url('ballpark-img.jpeg');
      height: 800px;
      width: 100%;
      background-size: cover;
}