/*--全体--*/
.bolder {
   font-weight: bolder;
}

.logo:hover {
   color: white;
   text-decoration: none;
}

.noline:hover {
   text-decoration: none;
}

.footer-fixed{
   min-height: 100vh; /* コンテンツの高さの最小値＝ブラウザの高さに指定 */
   position: relative;
   padding-bottom: 100px; /* フッターの高さ */
   box-sizing: border-box;/* ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
   background-color: #f8f9fa;
}

footer{
   position: absolute;
   bottom: 0;
   background-color: rgb(34, 35, 37);
   height: 100px;
   width: 100%;
}

.web-copyright {
    color: azure;
}

.notice {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(98, 98, 221, 0.8);
   height: 45px;
   width: auto;
}

.alert {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: lightcoral;
   height: 45px;
   width: 100%;
   border-radius: 0;
}

ul {
   list-style: none;
}

.black-link {
   color: #343a40;
}

.black-link:hover {
   color: #343a40;
   text-decoration: none;
}





/*----投稿一覧画面----*/
.index-bg {
   background-size: cover;
   height: 100%;
}

.index-top {
   height: 620px;
   background-image: image-url('ballpark-img.jpeg');
}

.index-card {
   border-radius: 15px;
}

.index-icon {
   height: 35px;
   width: 35px;
   border-radius: 100%;
}

.index-card-label {
   color: white;
   background-color: rgb(41, 42, 44);
   width: 100%;
   height: 30px;
}

.index-card-content {
   font-size: 15px;
   height: 35px;
}

.fa-thumbs-up {
   cursor: pointer;
}

.index-pagination {
   height: 150px;
}

.pagination>li>a {    
   background-color: rgb(34, 35, 37);      
   border: none;
   color: white;
   margin-right: 8px;
 }
 
 .pagination>li>a:hover {        
   background-color: white;
   color: rgb(34, 35, 37);
 }





/*----新規ユーザー登録ページ----*/
.user-form-bg {
   background-image: image-url('ballpark-img.jpeg');
   background-size: cover;
   height: 100%;
   background-attachment: fixed;
}

.user-form {
   background-color: white;
   opacity: 0.94;
   width: 850px;
   padding: 30px;
   margin-bottom: 80px;
}

.user-form-title {
   margin-top: 60px;
   margin-bottom: 50px;
}





/*----ログインページ----*/
.login-form-bg {
   background-image: image-url('ballpark-img.jpeg');
   background-size: cover;
   height: 100%;
   background-attachment: fixed;
}

.login-form-wrapper {
   padding-bottom: 100px;
}

.login-form {
   background-color: white;
   opacity: 0.94;
   width: 850px;
   padding: 50px 30px 60px 30px;
}

.login-form-title {
   margin-top: 60px;
   margin-bottom: 50px;
}




/*---ユーザ詳細ページ---*/
.user-show-bg {
   background-image: image-url('ballpark-img.jpeg');
   background-size: cover;
   height: 100%;
   background-attachment: fixed;
}

.user-show-result {
   height: 500px;
   margin: auto;
   height: 600px;
   margin-bottom: 50px;
}

.user-show-result h1 {
   opacity: 0.9;
}

.user-show-result-box {
   width: 900px;
   height: 450px;
}

.opacity-form {
   color: white;
   background-color: rgba(0, 0, 0, 0);
}

.user-show-body-wrapper {
   padding-bottom: 80px;
}

.show-icon {
   height: 70px;
   width: 70px;
   border-radius: 100%;
}

.user-show-body {
   background-color: white;
   opacity: 0.95;
   width: 900px;
   padding: 30px;
   margin: auto;
}

.user-show-index-item {
   height: 70px;
}





/*---新規投稿作成ページ---*/
.log-form-bg {
   background-size: cover;
   height: 100%;
}

.log-form-title {
   margin-top: 60px;
   margin-bottom: 50px;
}

.log-form-body {
   background-color: #f8f9fa;
   border-radius: 15px;
   width: 850px;
   padding: 30px;
   margin-bottom: 100px;
}

.log-image-btn :hover {
   cursor: pointer;
}

.log-image-btn span {
   color: rgb(91, 92, 100);
}





/*---投稿詳細ページ---*/
.log-show-bg {
   background-image: image-url('ballpark-img.jpeg');
   width: 100%;
   background-size: cover;
   background-attachment: fixed;
}

.log-show-body {
   background-color: white;
   width: 1000px;
   margin-top: 60px;
   margin-bottom: 80px;
}

.log-show-header {
   height: 50px;
}


.log-show-result {
   font-size:4em;
   line-height:0.95em;
   font-weight:bold;
}

.log-show-win {
	color: #FFF;
	text-shadow: 0 0 0.1em black;
}

.log-show-lose {
	color: black;
	text-shadow: 0 0 0.1em rgb(83, 82, 82);
}

.log-show-draw {
	color: rgb(231, 231, 231);
	text-shadow: 0 0 0.1em black;
}